@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(Model.Categories != null && Model.Categories.Count > 0)
{
    @foreach (var category in Model.Categories)
    {
        <h2>@category.CategoryName</h2>
        <h3>@category.Description</h3>
        <h3>@category.ProductsNumber</h3>
    }

}

