@{
    ViewData["Title"] = "Privacy Policy";
}

@inject IMemoryCache cache

@{
    var lastPerson = cache.Get<Person>("lastPersonAdded");
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@lastPerson?.FirstName @lastPerson?.LastName</p>

<cache expires-after="@TimeSpan.FromMinutes(10)">
    Ultima ora di accesso: @DateTime.Now
</cache>
